html {
  font-family: 'Itim', cursive;
}

#map {
  height: 400px;
}


/*MAIN PROFILE PAGE*/

#tabs {
  min-height: 40vh;
}

#find, #cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.list-padding {
  padding: .5em;
}
