<div class="container">
  <h2 class="green-text darken-1-text">Sign up:</h2>
    <div class="row">
      <form class="col s12" ng-submit="main.signup(user)">
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="email" class="validate" ng-model="user.email">
            <label for="email">Email</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="username" type="text" class="validate" ng-model="user.username">
            <label for="username">Create Username</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="zipcode" type="text" class="validate" ng-model="user.zipcode">
            <label for="zipcode">Zipcode</label>
          </div>
          <div class="input-field col s12 m6">
            <input id="password" type="password" class="validate" ng-model="user.password">
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light green darken-1" type="submit" name="action">Become a Guru</button>
      </form>
</div>
